In [2]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import TimeoutException    
from selenium.webdriver.support import expected_conditions as EC
import time
import warnings
warnings.filterwarnings('ignore')

## Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [412]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'

In [413]:
driver = webdriver.Chrome(r'C:\Users\sivap\Downloads\chromedriver_win32\chromedriver.exe')

In [414]:
driver.get(url)
driver.maximize_window()

In [421]:
Rank = []
Name = []
Artist = []
Upload = []
View = []

for j in driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[1]'):
    Rank.append(j.text)
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[2]'):
    Name.append(i.text.split('"')[1])  
for x in driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[3]'):
    Artist.append(x.text)
for y in driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[5]'):
    Upload.append(y.text)
for z in driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[4]'):
    View.append(z.text)

In [416]:
print(len(Rank),len(Name),len(Artist),len(Upload),len(View))

30 30 30 30 30

In [422]:
Most_viewed_youtube = pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload Date':Upload,'Views':View})
Most_viewed_youtube

,Rank,Name,Artist,Upload Date,Views
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.09
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.94
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.41
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.78
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.59
5,6.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",5.55
6,7.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.79
7,8.,Uptown Funk,Mark Ronson,"November 19, 2014",4.65
8,9.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.60
9,10.,Gangnam Style,Psy,"July 15, 2012",4.51
10,11.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.50
11,12.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",4.25
12,13.,Dame Tu Cosita,El Chombo,"April 5, 2018",4.01
13,14.,Sugar,Maroon 5,"January 14, 2015",3.74
14,15.,Roar,Katy Perry,"September 5, 2013",3.63
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.62
16,17.,Sorry,Justin Bieber,"October 22, 2015",3.57
17,18.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.48
18,19.,Axel F,Crazy Frog,"June 16, 2009",3.46
19,20.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.32
20,21.,Dark Horse,Katy Perry,"February 20, 2014",3.32
21,22.,Faded,Alan Walker,"December 3, 2015",3.32
22,23.,Girls Like You,Maroon 5,"May 31, 2018",3.32
23,24.,Let Her Go,Passenger,"July 25, 2012",3.27
24,25.,Bailando,Enrique Iglesias,"April 11, 2014",3.25
25,26.,Lean On,Major Lazer,"March 22, 2015",3.24
26,27.,Perfect,Ed Sheeran,"November 9, 2017",3.22
27,28.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.21
28,29.,Shake It Off,Taylor Swift,"August 18, 2014",3.19
29,30.,Mi Gente,J Balvin,"June 29, 2017",3.12

In [91]:
driver.quit()

# Q2 Scrape the details team India’s international fixtures from bcci.tv Url=https://www.bcci.tv/.You need to find following details:A) Match title (I.e. 1st ODI)B) SeriesC) PlaceD) DateE) Time Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [3]:
driver = webdriver.Chrome(r'C:\Users\sivap\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
url = 'https://www.bcci.tv/.'
driver.get(url)
driver.maximize_window()

In [5]:
#clicking on international fixtures
international_fixtures = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
international_fixtures.click()

In [7]:
#clicking on 1st ODI
Match_center = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[4]/div/div[4]/a').click()

In [35]:
#Extracting match details
Match_title =[]
Series =[]
Place=[]
Date =[]
Time =[]

a=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[4]/div/div[1]/h5[2]/span')
Match_title.append(a.text)
b=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[4]/div/div[4]/div/span[1]')
Series.append(b.text.split('-')[0].strip())
c= driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[4]/div/div[4]/div')
Place.append(c.text.split('-')[1].strip())
d= driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[4]/div/div[1]/div/div[1]/h5')
Date.append(d.text)
e= driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[4]/div/div[1]/div/div[2]/h5')
Time.append(e.text.strip('PM')[:6].strip())

In [14]:
Match_title

['INDIA TOUR OF ZIMBABWE ODI SERIES 2022']

In [31]:
Series

['1st ODI']

In [29]:
Place

['Harare Sports Club, Harare']

In [17]:
Date

['18 AUG 2022']

In [36]:
Time

['12:45']

In [41]:
ODI = pd.DataFrame({'Title':Match_title,'Series':Series,'Place':Place,'Date':Date,'Time(IST)':Time})
ODI

,Title,Series,Place,Date,Time(IST)
0,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,1st ODI,"Harare Sports Club, Harare",18 AUG 2022,12:45

In [42]:
driver.quit()

# Q3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details:A) NameB) Description Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [107]:
driver = webdriver.Chrome(r'C:\Users\sivap\Downloads\chromedriver_win32\chromedriver.exe')

In [108]:
url = 'https://www.guru99.com/'
driver.get(url)
driver.maximize_window()

In [109]:
#finding the search bar webelement 
search =WebDriverWait(driver,20).until(EC.visibility_of_element_located((By.XPATH,'//input[@id="gsc-i-id1"]')))

In [110]:
#searcing for selenium exception handling
search.send_keys('Selenium Exception Handling')

In [111]:
#clicking on search button
driver.find_element(By.XPATH,'//button[@class="gsc-search-button gsc-search-button-v2"]').click()

In [120]:
#getting the forlink  exception handling page
url1= driver.find_element(By.XPATH,'//a[@class="gs-title"]').get_attribute('href')

In [126]:
#scrapping required data by finding the webelelements

driver.get(url1)
Name = []
Description = []

for n in driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr/td[1]'):
    Name.append(n.text)
for d in driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr/td[2]'):
    Description.append(d.text)

In [128]:
print(len(Name),len(Description))

41 41

In [129]:
Selenium_Exception_Handling = pd.DataFrame({'Name':Name,'Description':Description})
Selenium_Exception_Handling

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [130]:
driver.quit()

# Q4 Scrape the details of State-wise GDP of India from statisticstime.com.Url = http://statisticstimes.com/ You have to find following details A) Rank B) State C) GSDP(18-19) D) GSDP(17-18) E) Share(2017) F) GDP

In [139]:
driver = webdriver.Chrome(r'C:\Users\sivap\Downloads\chromedriver_win32\chromedriver.exe')
url='http://statisticstimes.com/'
driver.get(url)
driver.maximize_window()

In [141]:
#selection of Economy
driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button').click()

#selection of India from the dropdown economy
url1= driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').get_attribute('href')
driver.get(url1)

#clicking on India's statewise GDP
WebDriverWait(driver,20).until(EC.visibility_of_element_located((By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a'))).click()

In [147]:
Rank = []
State = []
GSDP1920 = []
GSDP1718= []
Share =[]
GDP=[]


for r in driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[1]'):
    Rank.append(r.text)
for s in driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[2]'):
    State.append(s.text)
for gsdp in driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[3]'):
    GSDP1920.append(gsdp.text)
for gsdp18 in driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[4]'):
    GSDP1718.append(gsdp18.text)
for sh in driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]'):
    Share.append(sh.text)
for gdp in driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]'):
    GDP.append(gdp.text)

In [148]:
print(len(State), len(GSDP1920),len(GSDP1718),len(Share),len(GDP),len(Rank))

33 33 33 33 33

In [152]:
India_State_GDP =pd.DataFrame({'Rank':Rank,'State':State,'GSDP 19-20':GSDP1920,'GSDP 18-19': GSDP1718, 'Share 19-20':Share, 'GDP ($ billion)':GDP})
India_State_GDP

,Rank,State,GSDP 19-20,GSDP 18-19,Share 19-20,GDP ($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [153]:
driver.quit()

## Q5 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used

In [470]:
driver = webdriver.Chrome(r'C:\Users\sivap\Downloads\chromedriver_win32\chromedriver.exe')

In [471]:
url = ' https://github.com/'
driver.get(url)
driver.maximize_window()

In [472]:
#clicking on explore
driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details').click()

#from dropdown selecting trending option
driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a').click()

In [473]:
#urls of all repositories
urls=[]
rep_title=[]
for i in driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]//a'):
    urls.append(i.get_attribute('href'))
for t in driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']//a"):
        rep_title.append(t.text)

In [466]:
len(rep_title)

25

In [474]:
len(urls)

25

In [500]:
# creating empty list
rep_description = []
rep_Count = []
rep_Language = []
language=[]


    
#scrapping data through the webelements
for r in urls:
    driver.get(r)
    time.sleep(2)
    
    
    try:
        description= driver.find_elements(By.XPATH,"/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[1]/div/p")
        for d in description:
            rep_description.append(d.text)
    except NoSuchElementException:
        rep_description.append('-')
    
    try:
        count= driver.find_elements(By.XPATH,"//*[contains(text(),'Contributor')]/span")
        for c in count:
            rep_Count.append(c.text)
    except NoSuchElementException:
        rep_Count.append('-')
    try:
    
        for l in driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]"):
            language.append(l.text)
        rep_Language.append(language)
        
    except NoSuchElementException:
        rep_Language.append('-')

In [507]:

print(len(rep_Language),len(rep_description),len(rep_Count),len(rep_title))

25 25 25 25

In [501]:
#manually added since it did not raise exception
rep_description.insert(9,'-')

In [504]:

rep_Count.insert(3,'-')

In [505]:
rep_Count.insert(12,'-')

In [506]:
rep_Count.insert(20,'-')

In [508]:
Github=pd.DataFrame({'Repository title':rep_Language,'Repository description':rep_description,'Contributors count':rep_Count,'Language':rep_Language})
Github

,Repository title,Repository description,Contributors count,Language
0,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...","Fast, unstyled command menu React component.",6,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
1,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",All Algorithms implemented in Python,826,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
2,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",These are the best resources for System Design...,5,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
3,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",A MEV bundle generator written in Rust,-,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
4,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",My personal dotfiles,7,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
5,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...","Blazing fast, instant realtime GraphQL APIs on...",454,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
6,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",📚 Papers & tech blogs by companies sharing the...,38,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
7,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...","Best DDoS Attack Script Python3, (Cyber / DDos...",27,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
8,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",Extract files from any kind of container formats,10,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
9,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",-,2,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
10,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",A complete computer science study plan to beco...,255,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
11,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",There can be more than Notion and Miro. Affine...,16,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
12,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",Convert AI papers to GUI，Make it easy and conv...,-,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
13,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",30 Days of React challenge is a step by step g...,8,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
14,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",DuckDB is an in-process SQL OLAP Database Mana...,143,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
15,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...","A precise specification for ""Rust lite / MIR p...",5,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
16,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",The Metadata Platform for the Modern Data Stack,259,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
17,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",Qlib is an AI-oriented quantitative investment...,97,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
18,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",🧑‍🏫 50! Implementations/tutorials of deep lear...,13,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
19,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",Collection of publicly available IPTV channels...,182,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
20,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",智能微秘书客户端，搭配,-,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
21,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",AirPlay 2 Receiver - Python implementation,13,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
22,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",List of Computer Science courses with video le...,69,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
23,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",Build faster websites with Astro's next-gen is...,298,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."
24,"[TypeScript, SCSS, Python, Rust, Solidity, Lua...",⚡️ Express inspired web framework written in Go,236,"[TypeScript, SCSS, Python, Rust, Solidity, Lua..."

In [509]:
driver.quit()

## Q6 Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [30]:
driver = webdriver.Chrome(r'C:\Users\sivap\Downloads\chromedriver_win32\chromedriver.exe')

In [31]:
url = 'https://www.billboard.com/'
driver.get(url)
driver.maximize_window()

In [32]:
hot_100 = driver.find_element(By.XPATH,'/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a').click()

In [41]:
driver.execute_script('window.scrollTo(0, 1000)')

In [53]:
Song = []
Artist = []
Rank_last_week = []
Peak_rank = []
Weeks_on_board = []

for song in driver.find_elements(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/h3"):
    Song.append(song.text)
for artist in driver.find_elements(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span"):
    Artist.append(artist.text)
for rank in driver.find_elements(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[4]/span"):
    Rank_last_week.append(rank.text)
for peak in driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[5]/span'):
    Peak_rank.append(peak.text)
for week in driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[6]/span'):
    Weeks_on_board.append(week.text)

In [54]:
print(len(Song),len(Artist),len(Rank_last_week),len(Peak_rank),len(Weeks_on_board))

100 100 100 100 100

In [55]:
Hot_100_Songs = pd.DataFrame({'Song Name':Song,'Artist':Artist,'Last Week Rank':Rank_last_week,'Peak Rank':Peak_rank,'Weeks on board':Weeks_on_board})
Hot_100_Songs

,Song Name,Artist,Last Week Rank,Peak Rank,Weeks on board
0,About Damn Time,Lizzo,1,1,15
1,As It Was,Harry Styles,2,1,17
2,Running Up That Hill (A Deal With God),Kate Bush,3,3,29
3,First Class,Jack Harlow,4,1,16
4,Wait For U,Future Featuring Drake & Tems,5,1,13
...,...,...,...,...,...
95,Te Felicito,Shakira & Rauw Alejandro,95,67,8
96,Are You Entertained,Russ & Ed Sheeran,-,97,1
97,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,-,98,1
98,Right On,Lil Baby,97,13,15
99,La Corriente,Bad Bunny & Tony Dize,99,32,9

In [ ]:
driver.quit()

## 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/hr-recruiters-consultants You have to find the following details:A) Name B) Designation C) Company D) Skills they hire for E) Location

In [388]:
driver = webdriver.Chrome(r'C:\Users\sivap\Downloads\chromedriver_win32\chromedriver.exe')

In [389]:
Url =' https://www.naukri.com'
driver.get(Url)
driver.maximize_window()

#click on jobs
jobs=WebDriverWait(driver,20).until(EC.visibility_of_element_located((By.XPATH,'/html/body/div[1]/div[2]/div[1]/div/ul/li[1]/a'))).get_attribute('href')
driver.get(jobs)
time.sleep(3)

#click on url
hr= driver.find_element(By.XPATH,'/html/body/div[1]/div/ul/li[2]/a').get_attribute('href')
driver.get(hr)
time.sleep(3)


#input webelement and typing in the requirement
driver.find_element(By.XPATH,'//input[@class="sugInp"]').send_keys('Data Science')

#search button
driver.find_element(By.XPATH,'//button[@id="qsbFormBtn"]').click()

In [403]:
urls= []

for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div/div[2]/div/div/div/div/div[1]/div[1]/p/a[1]'):
    urls.append(i.get_attribute('href'))

In [405]:
len(urls)

50

In [408]:
Name=[]
Designation =[]
Company = []
Skills =[]
Location =[]

for u in urls:
    driver.get(u)
    try:
        name=driver.find_elements(By.XPATH,'/html/body/div[2]/div[1]/div[1]/div[2]/div[2]/h1')
        for n in name:
            Name.append(n.text)
    except NoSuchElementException:
        Name.append('-')
    try:
        desig=driver.find_elements(By.XPATH,'/html/body/div[2]/div[1]/div[1]/div[2]/div[3]')
        for d in desig:
            Designation.append(d.text)
    except NoSuchElementException:
         Designation.append('-')

    try:
        company=driver.find_elements(By.XPATH,'/html/body/div[2]/div[1]/div[1]/div[2]/div[4]')
        for c in company:
            Company.append(c.text)
    except NoSuchElementException:
        Company.append('-')
    try:
        s=driver.find_elements(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div[1]/p[1]')
        for skill in s:
            Skills.append(skill.text)
    except NoSuchElementException:
        Skills.append('-')
    try:
        loc=driver.find_elements(By.XPATH,'/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a')
        for l in loc:
            Location.append(l.text)
    except NoSuchElementException:
        Location.append('-')

In [409]:
print(len(Name),len(Designation),len(Company),len(Skills),len(Location))

50 50 50 50 50

In [410]:
pd.DataFrame({'Name':Name,
             'Designation':Designation,
             'Company':Company,
             'Skills':Skills,
             'Location':Location})

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer , Internet Marketing Pro...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net , Java , Data Science , Linux Administrat...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Mid Level, Junior Level",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,", Mean Stack , javascript , angularjs , mongod...",Ahmedabad
4,subhas patel,Founder & CEO,LibraryXProject,"Hadoop , Spark , Digital Strategy , Data Archi...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and APAC,Recruitment - Lead Consultant,Apidel Technologies Division of Transpower,"Analytics , Business Intelligence , Business A...",Vadodara / Baroda
6,Institute for Financial Management and Research,Programme Manager,IFMR,Analytics & Business Intelligence,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning , algorithms , Go Getter , Co...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Weupskill- Live Wire India,Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Junior Level, Mid Level",Bengaluru / Bangalore
10,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Junior Level, Mid Level",Mumbai
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Mid Level, High Level",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa , Ui , ux , Java Developer , Java Architect...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,MoneyTap,Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,QuantMagnum Technologies Pvt. Ltd.,Mumbai
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Junior Level, Mid Level",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data , Hadoop , Data Analytics , Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,High Level,Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,IT Skills,Pune
19,Manisha Yadav,HR Executive,Easi Tax,Mid Level,Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,IT-Software/Software Services,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,"Mid Level, Top Mangement Level",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics , Data Science , Machine Learni...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Junior Level, Mid Level",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"High Level, Mid Level",Pune
25,Shaun Rao,Manager - Human Resources,Exela Technologies,"Java , Net , Angularjs , Hr , Infrastructure ,...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Mid Level, High Level",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private Limited,"High Level, Top Mangement Level",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science , Hadoop , Rpas , Devops , Python...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing , Machine Learning , Neural ...",Others
30,Rajat Kumar,Founder & CEO,R.S Consultancy & Services,"Web Technologies , Project Management , Softwa...",Delhi
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"S. Finance Manager , Freshers , Experience , S...",Bengaluru / Bangalore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics , Managed Services , Team Leading",Mysoru / Mysore
33,Avodha,Business Development Associate,Nikitha Palaparthi,Nikitha Palaparthi,Hyderabad / Secunderabad
34,Priya Khare,Senior Manager,Independent Consultant,Independent Consultant,Bengaluru / Bangalore
35,Amit Sharma,Consultant,ASCO consulting,ASCO consulting,New Delhi
36,Kanan,senior technology instructor,NY INST,"Mid Level, Junior Level",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research & Consulting Co. India,3D India Staffing Research & Consulting Co. India,Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Junior Level, High Level",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Python , Php , Qa Automation , Ui , Wordpre",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore
41,Ankit Sinha,Head-Analytics,Suntech Global,Suntech Global (Since Feb-2018),Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Top Mangement Level, Junior Level",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science , Node.js , Angularjs",Bengaluru / Bangalore
44,Ashwini,"Director, Global Delivery",MRP Advisers,MRP Advisers (Since Oct-2017),MYSORE
45,Balaji Kolli,Co-Founder,Saras Solutions India Pvt Ltd,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"java , hadoop , r , Machine Learning , spark ,...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Mid Level, High Level",Mumbai
48,Amir Chowdhury,Managing Partner,Granular.ai,Granular.ai,
49,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,"Mid Level, Top Mangement Level",Ghaziabad

In [411]:
driver.quit()

# 8. Scrape the details of Highest selling novels. URL = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare.You have to find the following details: A) Book name B) Author name C) Volumes sold D) PublisherE) Genre

In [43]:
driver = webdriver.Chrome(r'C:\Users\sivap\Downloads\chromedriver_win32\chromedriver.exe')

In [45]:
url ='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
driver.maximize_window()

In [50]:
#creating emty list
Book =[]
Author =[]
Volumes =[]
Publisher =[]
Genre = []

#finding the webelements to get the required data
for i in driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]'):
    Book.append(i.text)
for x in driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]'):
    Author.append(x.text)
for y in driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]'):
    Volumes.append(y.text)
for z in driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]'):
    Publisher.append(z.text)
for j in driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]'):
    Genre.append(j.text)

In [51]:
print(len(Book),len(Author),len(Volumes),len(Publisher),len(Genre))

100 100 100 100 100

In [59]:
#Creating a DataFrame
Novels_Highest_Selling=pd.DataFrame({'Name':Book,'Author':Author,'Volume Sales':Volumes,'Publisher':Publisher,'Genre':Genre})
Novels_Highest_Selling

,Name,Author,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [61]:
driver.quit()

# Q9 Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) NameB) Year spanC) GenreD) Run timeE) RatingsF) Votes

In [62]:
driver = webdriver.Chrome(r'C:\Users\sivap\Downloads\chromedriver_win32\chromedriver.exe')

In [63]:
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)
driver.maximize_window()

In [70]:
Name = []
Year = []
Genre = []
Runtime = []
Rating = []
Votes = []


for n in driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/a'):
    Name.append(n.text)
for y in driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/span[2]'):
    Year.append(y.text)
for g in driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[5]'):
    Genre.append(g.text)
for t in driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[3]'):
    Runtime.append(t.text)
for r in driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]'):
    Rating.append(r.text)
for v in driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[4]/span[2]'):
    Votes.append(v.text)

In [71]:
print(len(Name),len(Runtime),len(Year),len(Genre),len(Rating),len(Votes))

100 100 100 100 100 100

In [72]:
IMBD_Movies = pd.DataFrame({'Name': Name, 'Year Span':Year, 'Genre':Genre, 'Rating':Rating, 'Votes':Votes})

In [73]:
IMBD_Movies

,Name,Year Span,Genre,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",9.2,"2,019,735"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",8.7,"1,114,828"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,"959,106"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",7.5,"286,736"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",7.6,"246,331"
...,...,...,...,...,...
95,Reign,(2013–2017),Drama,7.4,"49,242"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",7.8,"60,109"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",8.1,"193,299"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",7.1,"40,790"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",8.6,"233,064"

In [74]:
driver.quit()

## 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year

In [359]:
driver = webdriver.Chrome(r'C:\Users\sivap\Downloads\chromedriver_win32\chromedriver.exe')

In [360]:
url = 'https://archive.ics.uci.edu/'
driver.get(url)
driver.maximize_window()

In [362]:
#click on show all repositories

URL=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a').get_attribute('href')
driver.get(URL)

In [381]:
Dataset=[]
Datatype= []
Task=[]
Attribute=[]
No_of_instances=[]
Attribute_no=[]
Year=[]


for i in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a'):
    Dataset.append(i.text)
time.sleep(2)
for y in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p'):
    Datatype.append(y.text)
time.sleep(2)
for g in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p'):
    Task.append(g.text)
time.sleep(2)

for t in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p'):
    Attribute.append(t.text)
time.sleep(2)

for r in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p'):
    No_of_instances.append(r.text)
time.sleep(2)

for v in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p'):
    Attribute_no.append(v.text)
time.sleep(2)

for x in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p'):
    Year.append(x.text)
time.sleep(2)

In [386]:
print(len(Dataset),len(Datatype),len(Task),len(Attribute),len(No_of_instances),len(Attribute_no),len(Year))

#header is included in some of the scrapped data which shall be remove while creating a dataframe

622 623 623 623 623 623 623

In [383]:
pd.DataFrame({'Dataset':Dataset,
             "Data TypeS":Datatype[1:],
             'Default Task':Task[1:],
              "Attribute types":Attribute[1:],
              "Number of instances":No_of_instances[1:],
              "Number of attributes":Attribute_no[1:],
              "Year":Year[1:]})

,Dataset,Data TypeS,Default Task,Attribute types,Number of instances,Number of attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [387]:
driver.quit()